# Misc files
bin/buffer
bin/openbci2ft
bin/jaga2ft
bin/gtec2ft
bin/ft2audio
dump.rdb
interface/node_modules
*.pid
*.log
*.pyc
*.edf
*.tsv
.DS_Store

# Backup files
*.m~
*.c~
*.h~
*.asv
*.bak

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# PyCharm project
.idea/*
