
doctype html
html(lang="en")

  head
  style
    include ../public/style.css

  body
    table
      tr
        td buffer
        td
          a(href="buffer/status") status
        td
          a(href="buffer/start") start
        td
          a(href="buffer/restart") restart
        td
          a(href="buffer/stop") stop
        td
          a(href="buffer/edit") edit

      tr
        td emg
        td
          a(href="emg/status") status
        td
          a(href="emg/start") start
        td
          a(href="emg/restart") restart
        td
          a(href="emg/stop") stop
        td
          a(href="emg/edit") edit

      tr
        td eyeblink
        td
          a(href="eyeblink/status") status
        td
          a(href="eyeblink/start") start
        td
          a(href="eyeblink/restart") restart
        td
          a(href="eyeblink/stop") stop
        td
          a(href="eyeblink/edit") edit

      tr
        td heartrate
        td
          a(href="heartrate/status") status
        td
          a(href="heartrate/start") start
        td
          a(href="heartrate/restart") restart
        td
          a(href="heartrate/stop") stop
        td
          a(href="heartrate/edit") edit

      tr
        td inputosc
        td
          a(href="inputosc/status") status
        td
          a(href="inputosc/start") start
        td
          a(href="inputosc/restart") restart
        td
          a(href="inputosc/stop") stop
        td
          a(href="inputosc/edit") edit

      tr
        td keyboard
        td
          a(href="keyboard/status") status
        td
          a(href="keyboard/start") start
        td
          a(href="keyboard/restart") restart
        td
          a(href="keyboard/stop") stop
        td
          a(href="keyboard/edit") edit

      tr
        td launchcontrol
        td
          a(href="launchcontrol/status") status
        td
          a(href="launchcontrol/start") start
        td
          a(href="launchcontrol/restart") restart
        td
          a(href="launchcontrol/stop") stop
        td
          a(href="launchcontrol/edit") edit

      tr
        td openbci2ft
        td
          a(href="openbci2ft/status") status
        td
          a(href="openbci2ft/start") start
        td
          a(href="openbci2ft/restart") restart
        td
          a(href="openbci2ft/stop") stop
        td
          a(href="openbci2ft/edit") edit

      tr
        td outputcvgate
        td
          a(href="outputcvgate/status") status
        td
          a(href="outputcvgate/start") start
        td
          a(href="outputcvgate/restart") restart
        td
          a(href="outputcvgate/stop") stop
        td
          a(href="outputcvgate/edit") edit

      tr
        td outputosc
        td
          a(href="outputosc/status") status
        td
          a(href="outputosc/start") start
        td
          a(href="outputosc/restart") restart
        td
          a(href="outputosc/stop") stop
        td
          a(href="outputosc/edit") edit

      tr
        td pulsegenerator
        td
          a(href="pulsegenerator/status") status
        td
          a(href="pulsegenerator/start") start
        td
          a(href="pulsegenerator/restart") restart
        td
          a(href="pulsegenerator/stop") stop
        td
          a(href="pulsegenerator/edit") edit

      tr
        td redis
        td
          a(href="redis/status") status
        td
          a(href="redis/start") start
        td
          a(href="redis/restart") restart
        td
          a(href="redis/stop") stop
        td
          a(href="redis/edit") edit

      tr
        td sequencer
        td
          a(href="sequencer/status") status
        td
          a(href="sequencer/start") start
        td
          a(href="sequencer/restart") restart
        td
          a(href="sequencer/stop") stop
        td
          a(href="sequencer/edit") edit

      tr
        td synthesizer
        td
          a(href="synthesizer/status") status
        td
          a(href="synthesizer/start") start
        td
          a(href="synthesizer/restart") restart
        td
          a(href="synthesizer/stop") stop
        td
          a(href="synthesizer/edit") edit

      tr
        td volcabass
        td
          a(href="volcabass/status") status
        td
          a(href="volcabass/start") start
        td
          a(href="volcabass/restart") restart
        td
          a(href="volcabass/stop") stop
        td
          a(href="volcabass/edit") edit

      tr
        td volcabeats
        td
          a(href="volcabeats/status") status
        td
          a(href="volcabeats/start") start
        td
          a(href="volcabeats/restart") restart
        td
          a(href="volcabeats/stop") stop
        td
          a(href="volcabeats/edit") edit

      tr
        td volcakeys
        td
          a(href="volcakeys/status") status
        td
          a(href="volcakeys/start") start
        td
          a(href="volcakeys/restart") restart
        td
          a(href="volcakeys/stop") stop
        td
          a(href="volcakeys/edit") edit


