
doctype html
html(lang="en")

  head
  style
    include ../public/style.css

  body
    hr
    a(href="/") settings
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    a(href="/monitor") monitor
    hr

    table
      tr
        td accelerometer
        td
          a(href="accelerometer/status") status
        td
          a(href="accelerometer/start") start
        td
          a(href="accelerometer/restart") restart
        td
          a(href="accelerometer/stop") stop
        td
          a(href="accelerometer/log") log
        td
          a(href="accelerometer/edit") edit

      tr
        td avmixer
        td
          a(href="avmixer/status") status
        td
          a(href="avmixer/start") start
        td
          a(href="avmixer/restart") restart
        td
          a(href="avmixer/stop") stop
        td
          a(href="avmixer/log") log
        td
          a(href="avmixer/edit") edit

      tr
        td brain
        td
          a(href="brain/status") status
        td
          a(href="brain/start") start
        td
          a(href="brain/restart") restart
        td
          a(href="brain/stop") stop
        td
          a(href="brain/log") log
        td
          a(href="brain/edit") edit

      tr
        td buffer
        td
          a(href="buffer/status") status
        td
          a(href="buffer/start") start
        td
          a(href="buffer/restart") restart
        td
          a(href="buffer/stop") stop
        td
          a(href="buffer/log") log
        td
          a(href="buffer/edit") edit

      tr
        td endorphines
        td
          a(href="endorphines/status") status
        td
          a(href="endorphines/start") start
        td
          a(href="endorphines/restart") restart
        td
          a(href="endorphines/stop") stop
        td
          a(href="endorphines/log") log
        td
          a(href="endorphines/edit") edit

      tr
        td eyeblink
        td
          a(href="eyeblink/status") status
        td
          a(href="eyeblink/start") start
        td
          a(href="eyeblink/restart") restart
        td
          a(href="eyeblink/stop") stop
        td
          a(href="eyeblink/log") log
        td
          a(href="eyeblink/edit") edit

      tr
        td heartrate
        td
          a(href="heartrate/status") status
        td
          a(href="heartrate/start") start
        td
          a(href="heartrate/restart") restart
        td
          a(href="heartrate/stop") stop
        td
          a(href="heartrate/log") log
        td
          a(href="heartrate/edit") edit

      tr
        td inputmidi
        td
          a(href="inputmidi/status") status
        td
          a(href="inputmidi/start") start
        td
          a(href="inputmidi/restart") restart
        td
          a(href="inputmidi/stop") stop
        td
          a(href="inputmidi/log") log
        td
          a(href="inputmidi/edit") edit

      tr
        td inputosc
        td
          a(href="inputosc/status") status
        td
          a(href="inputosc/start") start
        td
          a(href="inputosc/restart") restart
        td
          a(href="inputosc/stop") stop
        td
          a(href="inputosc/log") log
        td
          a(href="inputosc/edit") edit

      tr
        td jaga2ft
        td
          a(href="jaga2ft/status") status
        td
          a(href="jaga2ft/start") start
        td
          a(href="jaga2ft/restart") restart
        td
          a(href="jaga2ft/stop") stop
        td
          a(href="jaga2ft/log") log
        td
          a(href="jaga2ft/edit") edit

      tr
        td keyboard
        td
          a(href="keyboard/status") status
        td
          a(href="keyboard/start") start
        td
          a(href="keyboard/restart") restart
        td
          a(href="keyboard/stop") stop
        td
          a(href="keyboard/log") log
        td
          a(href="keyboard/edit") edit

      tr
        td launchcontrol
        td
          a(href="launchcontrol/status") status
        td
          a(href="launchcontrol/start") start
        td
          a(href="launchcontrol/restart") restart
        td
          a(href="launchcontrol/stop") stop
        td
          a(href="launchcontrol/log") log
        td
          a(href="launchcontrol/edit") edit

      tr
        td muscle
        td
          a(href="muscle/status") status
        td
          a(href="muscle/start") start
        td
          a(href="muscle/restart") restart
        td
          a(href="muscle/stop") stop
        td
          a(href="muscle/log") log
        td
          a(href="muscle/edit") edit

      tr
        td openbci2ft
        td
          a(href="openbci2ft/status") status
        td
          a(href="openbci2ft/start") start
        td
          a(href="openbci2ft/restart") restart
        td
          a(href="openbci2ft/stop") stop
        td
          a(href="openbci2ft/log") log
        td
          a(href="openbci2ft/edit") edit

      tr
        td outputartnet
        td
          a(href="outputartnet/status") status
        td
          a(href="outputartnet/start") start
        td
          a(href="outputartnet/restart") restart
        td
          a(href="outputartnet/stop") stop
        td
          a(href="outputartnet/log") log
        td
          a(href="outputartnet/edit") edit

      tr
        td outputaudio
        td
          a(href="outputaudio/status") status
        td
          a(href="outputaudio/start") start
        td
          a(href="outputaudio/restart") restart
        td
          a(href="outputaudio/stop") stop
        td
          a(href="outputaudio/log") log
        td
          a(href="outputaudio/edit") edit

      tr
        td outputcvgate
        td
          a(href="outputcvgate/status") status
        td
          a(href="outputcvgate/start") start
        td
          a(href="outputcvgate/restart") restart
        td
          a(href="outputcvgate/stop") stop
        td
          a(href="outputcvgate/log") log
        td
          a(href="outputcvgate/edit") edit

      tr
        td outputosc
        td
          a(href="outputosc/status") status
        td
          a(href="outputosc/start") start
        td
          a(href="outputosc/restart") restart
        td
          a(href="outputosc/stop") stop
        td
          a(href="outputosc/log") log
        td
          a(href="outputosc/edit") edit

      tr
        td playback
        td
          a(href="playback/status") status
        td
          a(href="playback/start") start
        td
          a(href="playback/restart") restart
        td
          a(href="playback/stop") stop
        td
          a(href="playback/log") log
        td
          a(href="playback/edit") edit

      tr
        td playbackctrl
        td
          a(href="playbackctrl/status") status
        td
          a(href="playbackctrl/start") start
        td
          a(href="playbackctrl/restart") restart
        td
          a(href="playbackctrl/stop") stop
        td
          a(href="playbackctrl/log") log
        td
          a(href="playbackctrl/edit") edit

      tr
        td postprocessing
        td
          a(href="postprocessing/status") status
        td
          a(href="postprocessing/start") start
        td
          a(href="postprocessing/restart") restart
        td
          a(href="postprocessing/stop") stop
        td
          a(href="postprocessing/log") log
        td
          a(href="postprocessing/edit") edit

      tr
        td preprocessing
        td
          a(href="preprocessing/status") status
        td
          a(href="preprocessing/start") start
        td
          a(href="preprocessing/restart") restart
        td
          a(href="preprocessing/stop") stop
        td
          a(href="preprocessing/log") log
        td
          a(href="preprocessing/edit") edit

      tr
        td quantizer
        td
          a(href="quantizer/status") status
        td
          a(href="quantizer/start") start
        td
          a(href="quantizer/restart") restart
        td
          a(href="quantizer/stop") stop
        td
          a(href="quantizer/log") log
        td
          a(href="quantizer/edit") edit

      tr
        td record
        td
          a(href="record/status") status
        td
          a(href="record/start") start
        td
          a(href="record/restart") restart
        td
          a(href="record/stop") stop
        td
          a(href="record/log") log
        td
          a(href="record/edit") edit

      tr
        td recordctrl
        td
          a(href="recordctrl/status") status
        td
          a(href="recordctrl/start") start
        td
          a(href="recordctrl/restart") restart
        td
          a(href="recordctrl/stop") stop
        td
          a(href="recordctrl/log") log
        td
          a(href="recordctrl/edit") edit

      tr
        td redis
        td
          a(href="redis/status") status
        td
          a(href="redis/start") start
        td
          a(href="redis/restart") restart
        td
          a(href="redis/stop") stop
        td
          a(href="redis/log") log
        td
          a(href="redis/edit") edit

      tr
        td sequencer
        td
          a(href="sequencer/status") status
        td
          a(href="sequencer/start") start
        td
          a(href="sequencer/restart") restart
        td
          a(href="sequencer/stop") stop
        td
          a(href="sequencer/log") log
        td
          a(href="sequencer/edit") edit

      tr
        td synchronization
        td
          a(href="synchronization/status") status
        td
          a(href="synchronization/start") start
        td
          a(href="synchronization/restart") restart
        td
          a(href="synchronization/stop") stop
        td
          a(href="synchronization/log") log
        td
          a(href="synchronization/edit") edit

      tr
        td synthesizer
        td
          a(href="synthesizer/status") status
        td
          a(href="synthesizer/start") start
        td
          a(href="synthesizer/restart") restart
        td
          a(href="synthesizer/stop") stop
        td
          a(href="synthesizer/log") log
        td
          a(href="synthesizer/edit") edit

      tr
        td volcabass
        td
          a(href="volcabass/status") status
        td
          a(href="volcabass/start") start
        td
          a(href="volcabass/restart") restart
        td
          a(href="volcabass/stop") stop
        td
          a(href="volcabass/log") log
        td
          a(href="volcabass/edit") edit

      tr
        td volcabeats
        td
          a(href="volcabeats/status") status
        td
          a(href="volcabeats/start") start
        td
          a(href="volcabeats/restart") restart
        td
          a(href="volcabeats/stop") stop
        td
          a(href="volcabeats/log") log
        td
          a(href="volcabeats/edit") edit

      tr
        td volcakeys
        td
          a(href="volcakeys/status") status
        td
          a(href="volcakeys/start") start
        td
          a(href="volcakeys/restart") restart
        td
          a(href="volcakeys/stop") stop
        td
          a(href="volcakeys/log") log
        td
          a(href="volcakeys/edit") edit
