
doctype html
html(lang="en")

  head
  style
    include ../public/style.css

  body
    table
      tr
        td buffer
        td
          a(href="buffer/status") status
        td
          a(href="buffer/start") start
        td
          a(href="buffer/restart") restart
        td
          a(href="buffer/stop") stop
        td
          a(href="buffer/edit") edit


      tr
        td openbci2ft
        td
          a(href="openbci2ft/status") status
        td
          a(href="openbci2ft/start") start
        td
          a(href="openbci2ft/restart") restart
        td
          a(href="openbci2ft/stop") stop
        td
          a(href="openbci2ft/edit") edit

      tr
        td redis
        td
          a(href="redis/status") status
        td
          a(href="redis/start") start
        td
          a(href="redis/restart") restart
        td
          a(href="redis/stop") stop
        td
          a(href="redis/edit") edit


      tr
        td launchcontrol
        td
          a(href="launchcontrol/status") status
        td
          a(href="launchcontrol/start") start
        td
          a(href="launchcontrol/restart") restart
        td
          a(href="launchcontrol/stop") stop
        td
          a(href="launchcontrol/edit") edit

      tr
        td keyboard
        td
          a(href="keyboard/status") status
        td
          a(href="keyboard/start") start
        td
          a(href="keyboard/restart") restart
        td
          a(href="keyboard/stop") stop
        td
          a(href="keyboard/edit") edit

      tr
        td devirtualizer
        td
          a(href="devirtualizer/status") status
        td
          a(href="devirtualizer/start") start
        td
          a(href="devirtualizer/restart") restart
        td
          a(href="devirtualizer/stop") stop
        td
          a(href="devirtualizer/edit") edit

      tr
        td sequencer
        td
          a(href="sequencer/status") status
        td
          a(href="sequencer/start") start
        td
          a(href="sequencer/restart") restart
        td
          a(href="sequencer/stop") stop
        td
          a(href="sequencer/edit") edit

      tr
        td synthesizer
        td
          a(href="synthesizer/status") status
        td
          a(href="synthesizer/start") start
        td
          a(href="synthesizer/restart") restart
        td
          a(href="synthesizer/stop") stop
        td
          a(href="synthesizer/edit") edit

      tr
        td heartrate
        td
          a(href="heartrate/status") status
        td
          a(href="heartrate/start") start
        td
          a(href="heartrate/restart") restart
        td
          a(href="heartrate/stop") stop
        td
          a(href="heartrate/edit") edit

      tr
        td pulsegenerator
        td
          a(href="pulsegenerator/status") status
        td
          a(href="pulsegenerator/start") start
        td
          a(href="pulsegenerator/restart") restart
        td
          a(href="pulsegenerator/stop") stop
        td
          a(href="pulsegenerator/edit") edit
